{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="auth-container">
    <h2>{% trans "Login" %}</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_username">{% trans "Username" %}:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_password">{% trans "Password" %}:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}

        <button type="submit" class="btn-main">{% trans "Log In" %}</button>
    </form>
    
    <div class="auth-footer">
        <p>{% trans "Don't have an account?" %} <a href="{% url 'signup' %}">{% trans "Sign Up" %}</a></p>
    </div>
</div>


{% endblock %}