{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content-center">
    <h1>
        {% if provider %}
            {% trans "Schedule for" %}: {{ provider.name }}
        {% else %}
            {% trans "General Schedule" %}
        {% endif %}
    </h1>
    cabinet_schedule_manage
    <div class="pixel-card schedule-card">
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            
            <div class="schedule-container">
                {% for form in formset %}
                    <div class="schedule-row">
                        
                        {{ form.id }}
                        
                        <div class="day-label">
                            {{ form.instance.get_day_of_week_display }}
                        </div>
                        
                        <div class="time-inputs">
                            <label>{% trans "From" %}:</label>
                            {{ form.start_time }}
                            
                            <label>{% trans "To" %}:</label>
                            {{ form.end_time }}
                        </div>
                        
                        <div class="day-off-group">
                            <label class="day-off-label">
                                {% trans "Day Off" %}:
                            </label>
                            {{ form.is_day_off }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div class="schedule-actions">
                <button type="submit" class="btn-main pixel-btn-action pixel-btn-blue">
                    {% trans "Save Schedule" %}
                </button>
                <a href="{% url 'cabinet_booking_list' %}" class="pixel-link-cancel">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}