{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content-center">
    <h1>{% trans "Add New Service" %}</h1>cabinet_service_add
    
    <div class="pixel-card border-grey">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <div class="form-actions">
                <button type="submit" class="btn-main pixel-btn-action pixel-btn-grey">
                    {% trans "Save Service" %}
                </button>
                
                <a href="{% url 'cabinet_booking_list' %}" class="pixel-link-cancel">
                    {% trans "Cancel" %}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}