.sidebar-left {
    width: 250px;
    background: #fff;
    border-right: 1px solid #ddd;
    transition: all 0.3s ease;
}

/* Стили меню */
.main-menu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.submenu {
    display: none;
    background: #fdfdfd;
    padding-left: 15px;
}

.has-children.open > .submenu {
    display: block;
}





/* Мобильное состояние меню */
@media (max-width: 768px) {

        .menu-toggle {
        position: fixed;
        display: block;
        padding: 15px ;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 5500;
        color: var(--pixel-black);
        
            }



    .sidebar-left {
        position: fixed;
        left: -280px; /* Спрятано */
        top: 0;
        height: 100%;
        z-index: 1300;
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    }

    .sidebar-left.mobile-open {
        left: 0; /* Выдвинуто */
    }

    /* Затемнение фона */
    .sidebar-left.mobile-open::after {
        content: '';
        transition: opacity 0.3s;
        position: fixed;
        top: 0;
        left: 280px;
        width: calc(100vw - 280px);
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1299;
    }


}

