/* ESAESTU.CASA - Pixel Minimalist Theme
   Design for Spain / Retro-Gaming Aesthetic
*/

@import "layout.css";
@import "menu.css";
@import "content.css";
@import "auth.css";



:root {
    --pixel-grey: #888888;
    --pixel-light-grey: #d1d1d1;
    --pixel-black: #1a1a1a;
    --pixel-white: #ffffff;
    --pixel-blue: #0055A4;
    --pixel-yellow: #FFD700;
    --pixel-red: #E63946;
    --pixel-border: 3px;
}

html {
    
    scrollbar-gutter: stable;/* Убираем отступ справа, который появляется при появлении скроллбара */
}


* {
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    scrollbar-gutter: stable; /* Резервирует место под скроллбар всегда */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--pixel-white);
    color: var(--pixel-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* --- TYPOGRAPHY --- */
h1,
h2,
h3,
.logo-pixel,
.auth-link,
button {
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
}

.menu-item-link,
.link-text,
.search-form-pixel input {
    font-family: 'VT323', monospace;
    font-size: 1.6rem;
}



/* SEARCH */
.search-form-pixel {
    display: flex;
    border: var(--pixel-border) solid var(--pixel-black);
    box-shadow: 3px 3px 0px var(--pixel-grey);
    z-index: 1003;
}

.search-form-pixel input {
    border: none;
    padding: 3px;
    outline: none;
    width: 200px;
    z-index: 1001;
}

.search-form-pixel button {
    
    border: none;    
    cursor: pointer; 
    background: var(--pixel-yellow);
    color: white;
    border-color: var(--pixel-yellow);
    box-shadow: 2px 2px 2px var(--pixel-black);
}

.search-form-pixel button:hover {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px var(--pixel-black);
    z-index: 1300;
    box-shadow: inset -2px -2px 0 2px grey;
    box-shadow: inset -1px -1px 0 1px rgb(0, 0, 0);
}




/* --- MAIN WRAPPER --- */
.main-wrapper {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


/* CARDS */
.pixel-card {
    border: var(--pixel-border) solid var(--pixel-black);
    box-shadow: 5px 5px 0px var(--pixel-light-grey);
    padding: 20px;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
}
.creators-container {
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    font-family: 'VT323', monospace;
}


/* RESPONSIVE */
@media (max-width: 768px) {



    .logo-pixel {
        display: none;
    }

    .pixel-card {
        width: 350px;
        border: var(--pixel-border) solid var(--pixel-black);
        box-shadow: 5px 5px 0px var(--pixel-light-grey);
        padding: 20px;
        margin-bottom: 25px;
        background: rgb(255, 255, 255);
    }

    .creators-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        font-family: 'VT323', monospace;
    }
}